<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Home</title>

  <meta name="description" content="Homepage">
  <meta name="author" content="Dribba">

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container-fluid">
  <div class="row" style="margin-top: 2%;">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Demos
        </h1>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2%;">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">
          Tsüri
        </h5>
        <div class="card-body">
          <p class="card-text">
            Access Tsuri content.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="/tsuri" role="button">Go</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">
          Infosperber
        </h5>
        <div class="card-body">
          <p class="card-text">
            Access Infosperber content.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="/infosperber" role="button">Go</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">
          Zentralplus
        </h5>
        <div class="card-body">
          <p class="card-text">
            Access Zentralplus content.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="/zentralplus" role="button">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
