<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Inforsperber</title>

    <meta name="description" content="Tsuri">
    <meta name="author" content="Dribba">

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/styles/infosperber/style.css" rel="stylesheet">

  </head>
  <body>

  <div class="container">
    <div class="row Logo pt-3 pb-3">
        <div class="col-xs-12"><img src="https://www.dribba.com/wp-content/uploads/2017/04/dribba_app_barcelona_logo_normal-new.svg"></div>
    </div>
    <!--<div class="row Subheader pb-3">-->
        <!--<div class="col-xs-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>-->
        <!--<div class="col-xs-2 float-right"><button type="button" class="btn btn-light">Login</button></div>-->
    <!--</div>-->
      <div class="row">
          <div class="col-lg-10">
              Date, info, etc..
          </div>
          <div class="col-lg-2 justify-content-md-right">
              <button type="button" class="btn btn-light float-right">Login</button>
          </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
      </nav>
    <div class="row Featured and posts mt-3 mb-3">
        <div class="col-md-7">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://clf.ubc.ca/_assets/images/carousel-image2.png" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Dribba news</h5>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://clf.ubc.ca/_assets/images/carousel-image2.png" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Dribba news</h5>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://clf.ubc.ca/_assets/images/carousel-image2.png" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Dribba news</h5>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="media">
                <img class="mr-3" width="100px" src="https://www.dribba.com/wp-content/uploads/2018/03/desarrollo_tecnologico_para_startups.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
      <div class="row">
          <div class="col-7">
              <div class="media mb-3">
                  <img class="mr-3" width="200px" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Generic placeholder image">
                  <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
              </div>

              <div class="media mb-3">
                  <img class="mr-3" width="200px" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Generic placeholder image">
                  <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
              </div>

              <div class="media mb-3">
                  <img class="mr-3" width="200px" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Generic placeholder image">
                  <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
              </div>

              <div class="media mb-3">
                  <img class="mr-3" width="200px" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Generic placeholder image">
                  <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
              </div>
          </div>
          <div class="col-5">
              <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
              </ul>
          </div>
      </div>
    <div class="row Paginations  mt-3">
        <div class="col-xs-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
  </div>
  <footer class="row p-2 pb-3 bg-light">
      <div class="container">
          <div class="row">
              <div class="col-sm-3 col-md-2 d-flex flex-row align-middle"><span class="align-middle">© Footer</span></div>
              <div class="col-sm-9 col-md-10 d-flex flex-row-reverse">
                  <ul class="nav">
                      <li class="nav-item">
                          <a class="nav-link active" href="#">Active</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
