<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tsuri</title>

    <meta name="description" content="Tsuri">
    <meta name="author" content="Dribba">

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    <!--<link href="/styles/bootstrap.min.css" rel="stylesheet">-->
    <link href="/styles/tsuri/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <a class="navbar-brand" href="#">Main navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
              </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  </nav>

   <div class="container">
    <div class="row Title 1">
        <div class="col-sm-12">
            <h1 class="display-2">
                Logo y tal
            </h1>
        </div>
    </div>
    <div class="row News">
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
            <div class="card">
                <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://www.dribba.com/wp-content/uploads/2017/04/virtual_reality_xavier_bassols_app_dribba_small_sized.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row Title 2">
        <div class="col-sm-12">
            <h1 class="display-2">
                Más
            </h1>
        </div>    </div>
    <div class="row News">
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 p-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="https://s3-media2.fl.yelpcdn.com/bphoto/Ut00HmGxyfruo0FdgAusOg/ls.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
