<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>zentralplus</title>

    <meta name="description" content="zentralplus">
    <meta name="author" content="Dribba">

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/styles/zentralplus/style.css" rel="stylesheet">

</head>
<body>

<header class="row">
    <div class="container pt-2 pb-2">
        <div class="row">
            <div class="col-lg-10">
                Weather
            </div>
            <div class="col-lg-2 justify-content-md-right">
                <a href="#" class="text-muted float-right">Login</a>
            </div>
        </div>
    </div>
</header>

<div class="container bg-white">
        <nav class="navbar navbar-expand-lg navbar-light mt-3">
            <button class="navbar-toggler bg-light light bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="https://www.dribba.com/wp-content/uploads/2017/04/dribba_app_barcelona_logo_normal-new.svg" width="120" height="90" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

</div>
<div class="container bg-white mt-3 pt-2 mb-3 pb-3">

    <div class="row Featured and posts mt-3 mb-3">
        <div class="col-sm-6 col-md-8">
            <div class="card bg-dark text-white featured">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card bg-dark text-white featured">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>

    <section class="row grid">


        <div class="col-sm-6 col-md-4 ">

             <div class="card bg-dark text-white">
                    <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
             </div>

            <div class="card bg-dark text-white mt-2">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>


        </div>

        <div class="col-sm-6 col-md-4 ">
            <ul class="list-group h-100">
                <li class="list-group-item h-100">Cras justo odio</li>
                <li class="list-group-item h-100">Morbi leo risus</li>
                <li class="list-group-item h-100">Porta ac consectetur ac</li>
                <li class="list-group-item h-100">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <ul class="list-group h-100">
                <li class="list-group-item h-100">Cras justo odio</li>
                <li class="list-group-item h-100">Morbi leo risus</li>
                <li class="list-group-item h-100">Porta ac consectetur ac</li>
                <li class="list-group-item h-100">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-4 mt-2">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>


            <div class="card bg-dark text-white mt-2">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 mt-2">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>


            <div class="card bg-dark text-white mt-2">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 mt-2">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>


            <div class="card bg-dark text-white mt-2">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-8 mt-2">
                <div class="card bg-dark text-white featured">
                    <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
        </div>

        <div class="col-sm-6 col-md-4 mt-2">
                <div class="card bg-dark text-white featured">
                    <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
        </div>

        <div class="col-sm-6 col-md-4 mt-2">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>


            <div class="card bg-dark text-white mt-2">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 mt-2">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>


            <div class="card bg-dark text-white mt-2">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 mt-2">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>


            <div class="card bg-dark text-white mt-2">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 mt-2">
            <div class="card">
                <img class="card-img-top" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-8 mt-2">
            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>

    </section>
</div>

<div class="container mt-3 pt-2 mb-3 pb-3">

    <h6 class="col-xs-12 text-center pb-1">BLOGS</h6>

    <section class="row grid">
        <div class="col-sm-6 col-md-4 ">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 ">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 ">

            <div class="card bg-dark text-white">
                <img class="card-img" src="http://thedailycougar.com/wp-content/uploads/2013/08/News.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

        </div>

    </section>
</div>

<hr>

<footer class="row p-2 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2 d-flex flex-row align-middle"><span class="align-middle">© Footer</span></div>
            <div class="col-sm-9 col-md-10 d-flex flex-row-reverse">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
